.puzzle-grid-container {
    display: grid;
    grid-template-columns: 18% 18% 18% 18%;
    grid-gap: 3%;
    margin-left: 10%;
}

#pagination {
    margin-top: 60px;
}

.theme--light.v-pagination .v-pagination__item--active {
    color: blue;
}
