.post-card {
    margin-top: 30px;
    margin-bottom: 30px;
}

.comment-section {
    width: 99%;
    margin: 0 auto;
    padding: 2%;
}

.collage-image {
    width: 98%;
    margin: auto;
}

.divider {
    margin-top: 10px;
}