a:link {
    color: black;
     text-decoration: None;
}

.footer-card {
    background-color: rgba(255, 255, 255, 0.5) !important;
    border-color: white !important;
}

.card-title {
    font-style: italic;
    font-size: 1.2rem;
}

#trademark {
    font-size: 0.8em;
}

v-divider {
    margin-top: 40px;
    margin-bottom: 10px;
}

v-list-item-subtitile {
    margin-top: 5px;
    margin-bottom: 5px;
}