.posts-container {
    margin: auto;
    margin-top:50px;
    width: 40%;
    position: relative;
    padding: 10px;
}

.card-container {
    margin: 10px;
    padding: 10px;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

v-pagination {
    margin: auto;
}
