.posts-container {
    margin: auto;
    margin-top:50px;
    width: 40%;
    position: relative;
    padding: 10px;
}

.card-container {
    margin: 10px;
    padding: 10px;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

#pagination {
    margin-top: 60px;
}

.theme--light.v-pagination .v-pagination__item--active {
    color: blue;
}

.card {
    margin-top: 30px;
    margin-bottom: 30px;
}

.post-image {
    margin-top: 10px;
    margin-bottom: 25px;
}
